@bemasc 
> Is this draft intended to support a behavior where the origin server returns a 200 OK before it has received most of the request body?

According to HTTP Semantics, servers are already allowed to send any HTTP response before before the request is complete. Quoting [Section 7.5 of RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html#name-response-correlation): _all responses, regardless of the status code (including interim responses) can be sent at any time after a request is received, even if the request is not yet complete._

However, proxies are allowed to buffer HTTP messages. Therefore, applications that rely on early responses (or, more broadly, incremental delivery) become fragile when intermediaries are involved.

The aim of the Incremental HTTP extension is to make these applications less fragile by adding an HTTP header that indicates that applications want incremental delivery. Intermediaries can respect the header field and apply different policies regarding how they forward these messages (the simple way is to handle HTTP messages with `Incremental: ?1` like WebSocket or CONNECT requests).

PS. Regarding Fetch, I think the answer is up to them.

If we consider Fetch as an HTTP client, how it designs its API is up to itself.

If we consider Fetch to be an HTTP intermediary (see https://github.com/HTTPWorkshop/workshop2024/blob/main/talks/every%20HTTP%20stack%20is%20an%20intermediary.pdf), it is still allowed to buffer HTTP messages; see Section 7.6 of RFC 9110.